{% extends 'base.html' %}
{% load static%}
{% load i18n %}
{% block link %}
<link rel="stylesheet" href="{% static  'css/my_comments.css'%}">
{% endblock %}
{% block title %}{% trans "Meniň teswirlerim" %}{% endblock %}
{% block content%}
<div class="content">
    <h2>{% trans "Meniň teswirlerim!" %}</h2>
    <div id="comments"></div>
    <link rel="stylesheet" href="{static 'css/my_comments.css'}">
</div>
{% endblock %}
{% block script%}
<script src="{% static 'js/my_comments.js'%}"></script>
{%endblock%}