{%load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="tk">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} {%trans "SYNÇY"%} {% endblock %}</title>
    {%block link%}
    {%endblock%}
</head>
{% include 'ai_assistant.html' %}
<body>
{%include '_nav.html'%}
{% block content%}
THERE IS NO CONTENT
{% endblock %}
{% block chooseLang%}
{% endblock %}
{% block script%}
{%endblock%}
<footer>{% trans "@This WebSite created by Kurbanov Yhlas" %}</footer>
<script src="{% url 'javascript-catalog' %}"></script>
</body>
</html>
